@use "sass:math";

@media (max-width: 768px) {
  .navbar, .footer__links {
    justify-content: space-around;    
  }

  .footer__links {
    margin-inline: 10%;
  }

  .mx-auto {
    flex-direction: column;
  }

  .nav-item {
    align-self: center;
  }
}

.navbar-brand {
  margin: 0;
}
