<footer class="footer">
    <ul>
        <li class="logo">&copy; LOGO</li>
        <li class="page"><a href="">Front Page</a></li>
        <li class="page"><a href="">2nd Page</a></li>
        <li class="page"><a href="">3rd Page</a></li>
        <li class="page"><a href="">4th Page</a></li>
        <div class="socialLinks">
            <li class="social"><a href=""><i class="social-icon fa-brands fa-facebook"></i></a></li>
            <li class="social"><a href=""><i class="social-icon fa-brands fa-twitter"></i></a></li>
            <li class="social"><a href=""><i class="social-icon fa-brands fa-instagram"></i></a></li>
            <li class="social"><a href=""><i class="social-icon fa-brands fa-tiktok"></i></a></li>
        </div>
    </ul>
</footer>