<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/src/index.html">
      <picture>
        <source srcset="./assets/images/logo3.svg" type="image/webp" class="logo__pic"/>
        <img src="./assets/images/logo3.svg" alt="Band logo" class="logo__pic" />
      </picture>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon align-self-center"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav w-100 justify-content-end">
        <a class="nav-item nav-link" href="/src/members.html">Our Band</a>
        <a class="nav-item nav-link" href="/src/about.html">About</a>
        <a class="nav-item nav-link" href="/src/media.html">Libre</a>
      </div>
    </div>
  </nav>
</header>