@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-brand: 'Metal Mania';

$uoc-corporate: #000078;
$uoc-masterbrand: #1440b0;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;
