@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$font-brand: 'Metal Mania';

$color-corporate: #000078;
$color-masterbrand: #ff2a00;
$color-bg: color.scale($color-masterbrand, $lightness: 70%);


// Media screens

$Screen-xs: 576px;
$Screen-sm: 768px;
$Screen-md: 992px;
$Screen-lg: 1200px;
$Screen-xl: 1400px;
